<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Topfranchise - Blog Article Template</title> 
  <!-- <link rel="shortcut icon" href="/favicon.svg">
  <link rel="stylesheet" href="/static/assets/css/app.min.css">
  <link rel="stylesheet" href="/static/assets/css/main.css">
  <link rel="stylesheet" href="/static/assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/static/assets/css/swiper.css">
  <link rel="stylesheet" href="/static/assets/css/blog-article.css">
  <link rel="stylesheet" href="/static/assets/css/ui.css"> -->
</head>

<body class="blog-article">
  <!-- TOP MENU COMPONENT-->
  <div class="blog-article__container">
  </div>
  <!-- FULLWIDTH CONTENT SECTION -->
  <section class="blog-article__container">
  </section>
  <section class="
  blog-article__container 
  blog-article__container_sb">
    <!-- MAIN SECTION -->
    <div class="blog-article__content">
    </div>
    <!-- SIDEBAR SECTION -->
    <div class="blog-article__sb">
    </div>
  </section>
    <!-- FULLWIDTH CONTENT SECTION -->
  <section class="blog-article__container">
  </section>
  <!-- <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/jquery.fancybox.min.js"></script>
<script src="/static/assets/js/swiper.min.js"></script>
<script src="/static/assets/js/app.min.js"></script>
<script src="/static/assets/js/blog-article.js"></script> -->
</body>

</html>