/* Blog Article Styles */

.content-blog .swiper-button-prev::after {
  content: none;
  }
  
  .content-blog .swiper-button-disabled {
      display: none;
  }

.blog-article-links-block .blog-article-links-block__link {
    border: 0px;
  }
  
  .blog-article-user__name {
    word-wrap: break-word;
  }
  .blog-article-links-block {
    border-radius: 8px;
    background: #FFF;
  
    /* интересно тень */
    box-shadow: 0px 10px 24px 0px rgba(34, 136, 209, 0.20);
  }
  
  .blog-article-links-block__text {
    padding-left: 8px;
  
  }
  
  .blog-article-links-block__link {
    background: #4582EF !important;
    color: white !important;
  }
  .blog-article-links-block__link {
    color: #FFF;
  
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  }
  
  .blog-article-links-block__link:hover {
    background: #3061B9 !important;
    color: white !important;
  }
  
  .blog-article-links-block__title {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
  }
  
  .blog-article-content-best__item_last {
    border: 1px solid #4582EF;
  }
  
  .blog-article-content-best__item_last .blog-article-content-best__item-text {
    padding-top: 7px !important;
    padding-right: 10px !important;
    display: flex;
    justify-content: space-between;
  }
  
  .blog-article-content-best__item_last .ui__button {
    font-size: 15.9px;
    text-decoration: underline;
    float: right;
  }
  
  .kwiz-block {
    background-color: #ffffff;
  }
  
  .wide-wrapper {
    max-width: 100% !important;
  }
  
  .blog-article-content-best__item_last .blog-article-content-best__item-text {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
    font-size: 17px;
  }
  
  .blog-article-content-best__item_last .blog-article-content-best__item-button {
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    right: 0px;
  }
  
  .blog-article-content-best__item_last .blog-article-content-best__item-inner-container {
    padding-bottom: 13px;
  }
  
  
  .blog-article-content-best__item-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .blog-article-content-best__item-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
  
  .blog-article-content-best__item-inner-container {
    position: relative;
    padding-bottom: 35px;
    display: flex;
    width: 100%;
  }
  
  .blog-article-content-best__image-container {
    min-width: 76px;
    min-width: 76px;
    border-right: 1px solid #F4F4F6;
    display: flex;
    align-items: center;
  }
  
  .blog-article-content-best__item-image {
    width: 100%;
    padding-right: 8px;
    padding-top: 3px;
    max-width: 100px;
  }
  
  .blog-article-content-best__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 16px;
  }
  
  .blog-article-content-best__item {
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
    min-width: 100%;
    background: white;
  }
  
  .blog-article-content-best__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
  }
  
  .blog-article-content-best {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    border-radius: 8px;
    background: #ECF4FC;
  }
  
  .blog-article-content-best__items {
    margin-top: 20px;
  }
  
  .blog-article-contents-sidebar {
    border-radius: 8px;
    background: #F5F5F5;
    display: none;
    padding-top: 16px;
    padding-bottom: 29px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
  }
  
  .blog-article-contents-sidebar__label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .blog-article-contents-sidebar__label-container .blog-article-contents-sidebar__icon {
    width: 24px;
    height: 14px;
  }
  
  .blog-article-contents-sidebar__item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 22px */
  }
  
  .blog-article-contents-sidebar__items {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }
  
  .blog-article-contents-sidebar__label {
    margin-left: 8px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 31.2px */
  }
  
  .blog-article-content-form .wide-wrapper {
    margin-top: 24px;
    border-radius: 8px;
    /* важно тень */
    box-shadow: 0px 10px 24px 0px rgba(235, 117, 9, 0.15);
  }
  
  .blog-article-content-conditions__subtitle {
    margin-top: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 26px */
  }
  
  .blog-article-content-conditions__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
  }
  
  .blog-article-content-conditions {
    margin-top: 24px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    border-radius: 7px;
    background: #ECF4FC;
  }
  
  .blog-article-content-conditions {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 25.2px */
  }
  
  
  .blog-article-content-sidebar {
    display: none;
  }
  
  .blog-article-content-raiting__stars-container {
    display: flex;
    grid-gap: 7px;
  }
  
  .blog-article-content-raiting__bottom-container {
    display: flex;
    flex-direction: column;
  }
  
  .blog-article-content-raiting input {
    display: none;
  }
  
  .blog-article-content-raiting label {
    font-size: 24px;
    cursor: pointer;
  }
  
  .blog-article-content-raiting {
    margin-top: 24px;
  }
  
  .blog-article-content-raiting__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
  }
  
  .blog-article-content-raiting__starts-container {
    margin-top: 8px;
  }
  
  .blog-article-content-raiting__caption {
    margin-top: 11px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 21.6px */
  }
  
  .blog-article-content-raiting label:before {
    content: url('../img/raiting-star_checked.svg');
  }
  
  .blog-article-content-raiting input:checked~label:before {
    content: url('../img/raiting-star_not-checked.svg');
  }
  
  .blog-article-content-raiting label:hover:before {
    content: url('../img/raiting-star_checked.svg');
  }
  
  .blog-article__container {
    background: #FCFCFC;
  }
  
  /* Top banner styles */
  .blog-article-header {
    background-color: transparent;
    z-index: 10;
  }
  
  .blog-article-header h1,
  .blog-article-header p {
    color: #FFFFFF;
  }
  
  
  .blog-article-breadcrubms {
    margin-bottom: 0px;
  }
  
  .blog-article-breadcrubms *:last-child,
  .blog-article-breadcrubms a:last-of-type::after {
    display: none;
  }
  
  .blog-article-breadcrubms a:last-of-type {
    color: #959595;
  }
  
  /* Top banner main styles */
  
  .blog-article-header-banner {
    position: relative;
    width: auto;
    z-index: -1;
    background: black;
    overflow: hidden;
  }
  
  .blog-article-header-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 288px;
  }
  
  .blog-article-header-banner__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;
  }
  
  .blog-article-header-banner-text__rubric {
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
  }
  
  .blog-article-header-banner-text__title {
    font-size: 24.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  
  .blog-article-header-banner-text__caption {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  
  .blog-article-header-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .blog-article-header-info__date,
  .blog-article-header-info__views,
  .blog-article-header-info__time {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .blog-article-header-info__date-text,
  .blog-article-header-info__views-text,
  .blog-article-header-info__time-text {
    color: #8C8C8C;
  }
  
  /* END Top banner main styles */
  
  /* User section main styles */
  
  .blog-article-user {
    display: flex;
    flex-direction: row;
  }
  
  .blog-article-user__img-container {
    border-radius: 50%;
    overflow: hidden;
  
  }
  
  .blog-article-user__info {
    max-width: 65%;
    margin-left: 16px;
  }
  
  .blog-article-user__role {
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 17.6px */
  }
  
  .blog-article-user__name {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 17.6px */
  }
  
  /* END User section main styles */
  
  
  
  /* CTA section main styles */
  
  .blog-article__section-info {
    display: flex;
    flex-direction: column;
  }
  
  .blog-article-cta__container {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-left: 21px;
    padding-right: 16px;
    padding-bottom: 19px;
    background: #F5F5F5;
    margin-top: 24px;
    border-radius: 8px;
  }
  
  .blog-article-cta__text {
    padding-left: 0px;
  }
  
  .blog-article-cta__text-paragraph {
    font-size: 15.7px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 20.8px */
    padding-left: 8px;
  }
  
  .blog-article-cta__text-paragraph_pad-top {
    padding-top: 8px;
  }
  
  .blog-article-cta__image-svg {
    width: 38px;
  }
  
  .blog-article-cta__text-link {
    color: #0D82B9;
  }
  
  /* END CTA section main styles */
  
  /* Contents mobile main styles */
  .blog-article-contents-mobile__icon {
    width: 24px;
  }
  
  .blog-article-contents-mobile__label {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 81.116%;
    /* 12.979px */
    margin-left: 8px;
  }
  
  .blog-article-contents-mobile__img-repost {
    margin-left: 10px;
  }
  
  .blog-article-contents-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F5F5;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
  }
  
  .blog-article-contents-mobile__container-left {
    align-items: center;
    display: flex;
  }
  
  .blog-article-content-image-main__figure {
    overflow: hidden;
    border-radius: 8px;
  }
  
  .blog-article-content-entry__container {
    padding-top: 20px;
    margin-bottom: 24px;
  }
  
  .blog-article-content-entry__paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  
  .blog-article-content-block p {
    margin-top: 17px;
  }
  
  .blog-article-content-block p:first-of-type {
    margin-top: 0px;
  }
  
  /* END Contents mobile main styles */
  
  /* Blog article content main styles */
  
  .blog-article-content__section {
    margin-top: 24px;
  }
  
  .blog-article-content-image-main__picture-img {
    width: 100%;
  }
  
  .blog-article-content-block__image {
    border-radius: 8px;
  }
  
  .blog-article-content-block {
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 1px solid #F4F4F6;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(27, 18, 78, 0.03);
  }
  
  .blog-article-content-block__title {
    margin-top: 0px;
    margin-bottom: 0px !important;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 23px;
    font-style: normal;
    color: #4582EF;
    font-weight: 700;
    line-height: 120%;
    display: block;
  }
  
  .blog-article-content-block p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
  }
  
  .blog-article-content-block__blockquote {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    border-radius: 8px;
    border: 1px solid #97C7FE;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-right: 10px;
    padding-left: 37px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  
  .blog-article-content-block__blockquote::before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 7.3px;
    width: 24px;
    height: 18px;
    background-image: url(../img/quotes.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .blog-article-content-block {
    margin-top: 24px;
  }
  
  .blog-article-content-block__image-galery_float-right {
    float: right;
  }
  
  .blog-article-content-block__image-galery {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    margin-left: 16px;
    flex-wrap: wrap;
  }
  
  .blog-article-content-share__icon-container {
    width: 46px;
    height: 46px;
    background: #ECF4FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog-article-content-share {
    display: flex;
    grid-gap: 16px;
    margin-top: 24px;
  }
  
  .blog-article-content-raiting__bottom-container {
    margin-top: 8px;
  }
  
  /* MEDIA */
  /* Small devices */
  @media only screen and (max-width: 719px) {
    .blog-article-content-block__image-galery-item {
      min-width: inherit;
      min-width: 123px;
      height: auto;
      display: block;
      width: 48%;
      /* width: inherit; */
      gap: 10px;
    }
  
    .blog-article-content-block__image-galery {
      width: 100%;
      display: flex;
      margin-bottom: 16px;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .blog-article-content-block__image {
      width: 100%;
      height: auto;
    }
  
    /* User section small media styles */
  
    .blog-article-user__img {
      height: 81px;
    }
  
    .blog-article-user__role {
      font-size: 18px;
    }
  
    .blog-article-user__name {
      font-size: 20px;
    }
  
    /*  END User section small media styles */
  
    .blog-article-breadcrubms {
      padding-bottom: 10px !important;
    }
  
    /* Top banner small media styles */
  
    .blog-article-header {
      margin-bottom: 17px;
    }
  
    .blog-article-header-banner {
      min-height: 378px;
      border-radius: 7px;
    }
  
    .blog-article-header-banner-text {
      height: 378px;
    }
  
    .blog-article-header-banner-text__rubric {
      padding-top: 24px;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .blog-article-header-banner-text__title {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 16px;
    }
  
    .blog-article-header-banner-text__caption {
      margin-bottom: 23px;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .blog-article-header-banner__picture-img {
      filter: blur(2px);
    }
  
  
    .blog-article-header-info {
      margin-top: 6px;
    }
  
    .blog-article-header-info__date-icon,
    .blog-article-header-info__views-icon,
    .blog-article-header-info__time-icon {
      width: 13px;
    }
  
    .blog-article-header-info__date-text,
    .blog-article-header-info__views-text,
    .blog-article-header-info__time-text {
      padding-left: 8px;
      margin-right: 12px;
      font-size: 14px;
    }
  
    /* END Top banner small media styles */
  
  }
  
  /* Medium devices  */
  @media only screen and (min-width: 590px) {
  
    .blog-article-content-best__items {
      grid-gap: 20px;
    }
  
    .blog-article-content-best__item {
      flex: 1;
      min-width: calc(50% - 20px);
  
    }
  
  }
  
  @media only screen and (min-width: 720px) {
  
  
  
    .blog-article-content-raiting__bottom-container {
      margin-top: 10px;
      flex-direction: row;
      align-items: center;
    }
  
    .blog-article-content-raiting__caption {
      margin-top: 0px;
      margin-left: 14px;
    }
  
    .blog-article-content-block h2:first-of-type {
      padding-top: 0px;
    }
  
    .blog-article-content-block__image {
  
      border-radius: 8px;
    }
  
    .blog-article-content-block {
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 8px;
      border: 1px solid #F4F4F6;
      background: #FFF;
      box-shadow: 0px 8px 16px 0px rgba(27, 18, 78, 0.03);
    }
  
    .blog-article-content-block__image_float-right {
      float: right;
      margin-left: 25px;
      margin-bottom: 25px;
    }
  
    .blog-article-content-block__title {
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 0px !important;
      padding-top: 16px;
      padding-bottom: 8px;
      font-style: normal;
      color: #4582EF;
      font-weight: 700;
      line-height: 120%;
    }
  
  
    .blog-article-content-entry__container {
      padding-top: 30px;
      margin-bottom: 30px;
    }
  
    .blog-article-content-entry__paragraph {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }
  
  
    /* Contents mobile medium styles */
  
    .blog-article-contents-mobile__label {
      font-size: 19px;
      margin-left: 18px;
    }
  
    .blog-article-contents-mobile__img-repost {
      margin-left: 15px;
    }
  
  
    /* END Contents mobile medium styles */
  
  
  
    /* CTA section medium styles */
    .blog-article-cta__container {
      padding-left: 29px;
    }
  
    .blog-article-cta__image-svg {
      width: 59px;
    }
  
    .blog-article-cta__text {
      padding-left: 20px;
    }
  
    /* END CTA section medium styles */
  
  
    /* User section small media styles */
  
    .blog-article-user__img {
      /* height: 101px; */
    }
  
    .blog-article-user__role {
      font-size: 20px;
    }
  
    .blog-article-user__name {
      font-size: 22px;
    }
  
    /*  END User section small media styles */
  
  
    /* Top banner medium media styles */
    .blog-article-header {
      margin-bottom: 17px;
    }
  
    .blog-article-header-banner-text__rubric {
      font-size: 24px;
    }
  
    .blog-article-header-banner-text__title {
      font-size: 28.2px;
    }
  
    .blog-article-header-banner-text__caption {
      font-size: 21px;
    }
  
    .blog-article-breadcrubms {
      padding-bottom: 10px !important;
    }
  
    .blog-article-header-banner {
      min-height: 378px;
      border-radius: 7px;
    }
  
    .blog-article-header-banner-text {
      height: 378px;
    }
  
    .blog-article-header-banner-text__rubric {
      padding-top: 22px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .blog-article-header-banner-text__title {
      margin-bottom: 16px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .blog-article-header-banner-text__caption {
      margin-bottom: 23px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .blog-article-header-banner__picture-img {
      filter: blur(2px);
    }
  
  
  
    .blog-article-header-info {
      margin-top: 7px;
    }
  
    .blog-article-header-info__date-icon,
    .blog-article-header-info__views-icon,
    .blog-article-header-info__time-icon {
      width: 15px;
    }
  
    .blog-article-header-info__date-text,
    .blog-article-header-info__views-text,
    .blog-article-header-info__time-text {
      padding-left: 11px;
      margin-right: 15px;
      font-size: 16px;
    }
  
    /* END Top banner medium media styles */
  
  }
  
  /* Large devices */
  
  
  @media only screen and (min-width: 992px) {
  
    .blog-article__container {
      margin-bottom: 50px;
    }
  
    .blog-article-content-best__items {
      grid-gap: 32px;
    }
  
    .blog-article-content-best {
      padding-top: 32px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 41px;
    }
  
    .blog-article-content-best__title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      /* 33.6px */
    }
  
  
    .blog-article-content-conditions {
      margin-top: 40px;
    }
  
    /* Blog Article Styles */
    .blog-article-content-form .wide-wrapper {
      margin-top: 40px;
    }
  
  
    .blog-article-content-share {
      margin-top: 40px;
    }
  
    .blog-article-content-raiting {
      padding-bottom: 40px;
      border-bottom: 1px solid #e4e4e4;
    }
  
    .blog-article-content-block__blockquote {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      /* 28.8px */
      padding-top: 24px;
      padding-bottom: 26px;
      padding-right: 11px;
      padding-left: 72px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  
    .blog-article-content-block__blockquote::before {
      top: 23px;
      left: 24px;
      width: 32px;
      height: 24px;
    }
  
  
    .blog-article-content-entry__container {
      padding-top: 40px;
    }
  
    .blog-article-contents-mobile {
      display: none;
    }
  
    /* CTA section large styles */
  
    .blog-article-cta__image-svg {
      width: 69px;
    }
  
    .blog-article-cta__text-paragraph {
      font-size: 18px;
    }
  
    .blog-article-user {
      order: 2;
    }
  
    .blog-article-cta {
      margin-top: 34px;
      order: 1;
      margin-right: 33px;
      height: 129px;
    }
  
    .blog-article__section-info {
      flex-direction: row;
    }
  
    .blog-article-cta {
      order: 1;
    }
  
    .blog-article-cta__container {
      padding-right: 50px;
      margin-top: 0px;
      height: 129px;
      align-items: center;
      padding-left: 32px;
    }
  
    .blog-article-cta__text {
      padding-left: 24px;
    }
  
    /* END CTA section large styles */
  
    /* User section large media styles */
    .blog-article-user {
      margin-top: 34px;
    }
  
    .blog-article-header {
      margin-bottom: 40px;
    }
  
    .blog-article-user {
      display: flex;
      align-items: start;
      width: 266px;
    }
  
    .blog-article-user__img-container {
      margin-top: 7px;
      height: 120px;
    }
  
    .blog-article-user__info {
      margin-left: 25px;
    }
  
    .blog-article-user__info {
      padding-top: 5px;
      width: 125px;
      /* overflow: scroll; */
      align-self: flex-start;
      padding-right: 8px;
    }
  
    .blog-article-user__img {
      height: 100%;
      /* height: 120px; */
    }
  
    .blog-article-user__role {
      font-size: 20px;
    }
  
    .blog-article-user__name {
      font-size: 25px;
    }
  
    /*  END User section large media styles */
  
  
    /* Top banner large media styles */
  
    .blog-article-header-info__date-icon,
    .blog-article-header-info__views-icon,
    .blog-article-header-info__time-icon {
      width: 18px;
    }
  
    .blog-article-header-banner-text {
      justify-content: flex-end;
      height: 425px;
    }
  
    .blog-article-header-banner__picture-img {
      filter: blur(0px);
    }
  
    .blog-article-breadcrubms *:last-child,
    .blog-article-breadcrubms a:last-of-type::after {
      display: inline-block;
    }
  
    .blog-article-header-banner-text__rubric {
      padding-bottom: 13px;
      font-size: 24px;
      padding-left: 100px;
      padding-right: 100px;
    }
  
    .blog-article-header-banner-text__title {
      font-size: 36.1px;
      padding-left: 100px;
      padding-right: 100px;
    }
  
    .blog-article-header-banner-text__caption {
      font-size: 24px;
      padding-left: 100px;
      padding-right: 100px;
      margin-bottom: 60px;
    }
  
  
  
    .blog-article-header-info {
      margin-top: 7px;
      float: right;
    }
  
    .blog-article-header-info__date-icon,
    .blog-article-header-info__views-icon,
    .blog-article-header-info__time-icon {
      width: 18px;
    }
  
    .blog-article-header-info__date-text,
    .blog-article-header-info__views-text,
    .blog-article-header-info__time-text {
      padding-left: 16px;
      margin-right: 20px;
      font-size: 18px;
    }
  
    /* END Top banner large media styles */
  
  }
  
  @media only screen and (min-width: 1181px) {
    .blog-article-contents-sidebar {
      display: block;
    }
  
    .blog-article-content-sidebar {
      display: block;
    }
  }
  
  /* Extra large devices  */
  @media only screen and (min-width: 1200px) {}