<!DOCTYPE html>
<html>
{{> head }}

<body class="{{> component-name }}">
  <!-- TOP MENU COMPONENT-->
  <div class="{{> component-name }}__container">
  </div>
  <!-- FULLWIDTH CONTENT SECTION -->
  <section class="{{> component-name }}__container">
  </section>
  <section class="
  {{> component-name }}__container 
  {{> component-name }}__container_sb">
    <!-- MAIN SECTION -->
    <div class="{{> component-name }}__content">
    </div>
    <!-- SIDEBAR SECTION -->
    <div class="{{> component-name }}__sb">
    </div>
  </section>
    <!-- FULLWIDTH CONTENT SECTION -->
  <section class="{{> component-name }}__container">
  </section>
  {{> bodyScripts}}
</body>

</html>