@media screen and (max-width: 777px){
	.search_input, .breadcrumbs_cont li, .blockRecommendedFranchise .franchises_list .franchise_item .blockName .link_text, .advanced_info_section .official_info_wrap .text p, footer .top_area p, footer .middle_area .column ul li a, footer .bottom_area p, footer .bottom_area ul a {
    font-size: 16px;
	}
	header .logo {
		height: 40px;
		width: 36,25%;
	}
	header .logo img {
		width: 110px;
	}
	header {
		padding-top: 7px;
	}
	.search_form, .search_block, .search_input, .block_search {
		width: 450px;
	}
	.search_block {
		margin-bottom: 6px;
		margin-right: 12px;
	}
	header .tel_item {
    	display: none;
	}
	header .bottom_area {
 		display: none;
	}
	.scrolled {
		position: fixed;
		height: 57px;
		padding-top: 7px;
	}
	.scrolled .top_area {
		transform: none;
		height: 100%;
	}
	.media_menu {
		width: 109px;
		height: 40px;
	}
	.navigation_wrapper {
		width: 193px;
	}
	.navigation p {
		font-size: 24px;
	}
	.quiz_span {
		display: none;
	}
	.breadcrumbs_wrapper {
    	padding-top: 8px;
		padding-bottom: 6px;
	}
	.main {
		margin-top: 132px;
		margin-bottom: 50px;
	}
	.form_inputs {
		display: inline-flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 16px;
	}
	.sub_input {
		display: flex;
		width: 80%;
		max-width: 256px;
		padding: 10px;
		align-items: flex-start;
		gap: 10px;
		font-size: 16px;
	}
}