@media screen and (max-width: 650px){
	header .top_area .search_block {
		max-width: calc(100% - 120px);
	}
	header .top_area .search_form {
		max-width: 100%;
    	width: 100%;
	}
	header .top_area .search_form input {
		padding-right: 35px;
	}
	header .top_area .search_form button {
		right: 13px;
	}
}